<!DOCTYPE html>
<html lang="en">

<body class="content mat-app-background">
  <mat-slide-toggle color="primary" [formControl]="toggleControl">
    <img src="../assets/dark-mode.png" style="width: 1em; height: 1em; margin-left: 0.5em;" />
  </mat-slide-toggle>

    <p class="center" style="margin-top: 5em;"><img src="../assets/cv_pic.png"
        style="width: 35%; max-width: 180px; height: auto; position: relative; " /></p>
    <p class="center" style="margin-top: 10px; font-size: x-large;">Giada Gabriele</p>

    
    <mat-accordion class="center" style="margin-top: 5em;">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="About me">
          <p style="margin-top: 30px; text-align: center;">
            Hello everyone :) I'm 25, living in the southern of Italy, a little bit nerd seems to be a fair summary.<br>
            I'm a computer scientist (nerd and computers, I know, what a cliché), passionate about security and computer
            forensics.
          </p>
        </mat-tab>
        <mat-tab label="Formation">
          <p style="margin-top: 30px; text-align: center;">
            <b>2011-2016: </b> High School Diploma in Human Sciences - @Lucrezia della Valle<br></p>
            <p style="margin-top: 10px; text-align: center;"><b>2016-2021: </b> Bachelor Degree in Computer Science - @Università della Calabria<br></p>
            <p style="margin-top: 10px; text-align: center;"><b>2021-CURRENT: </b> Master Degree in Artificial Intelligence and Computer Science (Computer Security) -
            @Università della Calabria</p>
          
        </mat-tab>
        <mat-tab label="Skills">
          <p style="margin-top: 30px; text-align: center;">
            <img alt="c-plus-plus" src="../assets/c-plus-plus.png" class="responsive" />
            <img alt="Java" src="../assets/java.png" class="responsive" />
            <img alt="SQL" src="../assets/SQL.png" class="responsive" />
            <img alt="Python" src="../assets/python.png" class="responsive" />
            <img alt="Perl" src="../assets/perl-logo.png" class="responsive" />
            <img alt="GNS3" src="../assets/gns3.png" class="responsive" />
            <img alt="HTML" src="../assets/html.png" class="responsive" />
            <img alt="CSS" src="../assets/css.png" class="responsive" />
            <img alt="JavaScript" src="../assets/js.png" class="responsive" />
            <img alt="Android Studio" src="../assets/android-studio.png" class="responsive" />
            <img alt="Spring Framework" src="../assets/spring-framework.png" class="responsive" />
            <img alt="Angular" src="../assets/angular.png" class="responsive" />
            <img alt="Django Software" src="../assets/django.png" class="responsive" />
          </p>
        </mat-tab>
        <mat-tab label="CV">
          <p style="margin-top: 30px; text-align: center;">
            <a style="color: #0e76a8;" href="../assets/GiadaGabriele.pdf" download>Download CV here</a>
          </p>
        </mat-tab>
        <mat-tab label="Where to found me">
          <p style="margin-top: 30px; text-align: center;">
            <a href="https://github.com/giadagabriele"><i id="changeIcon" style="font-size: xx-large; color: #6e5494;"
                class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/giada-gabriele"><i
                style="font-size: xx-large; color: #0e76a8; margin-left: 10px; margin-right: 10px;"
                class="fa fa-linkedin-square"></i></a>
            <a href="mailto:giadagabriele@protonmail.com"><i id="changeIcon" style="font-size: xx-large; color: coral"
                class="fa fa-envelope"></i></a>
          </p>
        </mat-tab>
      </mat-tab-group>
    </mat-accordion>

  <img src="../assets/chevrons-up-circle.svg" style="height: 40px; position: fixed; right: 10px; bottom: 10px;"
    (click)="scrollToTop()" />



</body>

</html>