.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    font-family: 'Overpass Mono', monospace;
}

mat-slide-toggle {
    margin-left: 8px;
    margin-top: 8px;
}

.responsive {
    width: 30%;
    max-width: 50px;
    height: auto;
    margin-bottom: 5px;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.mat-tab-group {
    width: 90%;
    margin-left: 5px;
    margin-right: 5px;
}