body{
    background-color: white;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-slide-toggle {
	margin-left: 8px;
	margin-top: 8px;
}

mat-expansion-panel {
    background-color: whitesmoke;
	width: 60%;
}
.responsive {
    width: 30%;
    max-width: 50px;
    height: auto;
}