.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-slide-toggle {
	margin-left: 8px;
	margin-top: 8px;
}

mat-expansion-panel {
    background-color: whitesmoke;
	width: 80%;
    height: fit-content;
}

.responsive {
    width: 30%;
    max-width: 50px;
    height: auto;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
   }
   .show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
   }
   
   .mat-tab-group {
    margin-bottom: 8px;
  }