<!DOCTYPE html>
<html lang="en">

<body class="content mat-app-background">
  <mat-slide-toggle color="primary" [formControl]="toggleControl">
    <img src="../assets/dark-mode.png" style="width: 1em; height: 1em; margin-left: 0.5em;" />
  </mat-slide-toggle>

  <p style="position: absolute; margin-left: 0.5em; margin-top: 5px;">
    <img src="../assets/cv_pic.png" style="width: 40%; max-width: 150px; height: auto;"/>
  </p>  
  <h2 class="center" style="margin-top: 5em;">Giada Gabriele</h2>

  <mat-accordion class="center">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          About me
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        I'm 25, living in the southern of Italy, a little bit nerd seems to be a fair summary. I'm a computer scientist (nerd and computers, I know, what a cliché), passionate about security and computer forensics.
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="center" style="margin-top: 8px;">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Formation
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <b>2011-2016: </b> High School Diploma in Human Sciences - @Lucrezia della Valle<br>
        <b>2016-2021: </b> Bachelor Degree in Computer Science - @Università della Calabria<br>
        <b>2021-CURRENT: </b> Master Degree in Artificial Intelligence and Computer Science (Computer Security) -
        @Università della Calabria
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="center" style="margin-top: 8px;">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Skills
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <img alt="c-plus-plus" src="../assets/c-plus-plus.png" class="responsive" />
        <img alt="Java" src="../assets/java.png" class="responsive" />
        <img alt="SQL" src="../assets/SQL.png" class="responsive" />
        <img alt="Python" src="../assets/python.png" class="responsive" />
        <img alt="Perl" src="../assets/perl-logo.png" class="responsive" />
        <img alt="GNS3" src="../assets/gns3.png" class="responsive" />
        <img alt="HTML" src="../assets/html.png" class="responsive" />
        <img alt="CSS" src="../assets/css.png" class="responsive" />
        <img alt="JavaScript" src="../assets/js.png" class="responsive" />
        <img alt="Android Studio" src="../assets/android-studio.png" class="responsive" />
        <img alt="Spring Framework" src="../assets/spring-framework.png" class="responsive" />
        <img alt="Angular" src="../assets/angular.png" class="responsive" />
        <img alt="Django Software" src="../assets/django.png" class="responsive" />
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="center" style="margin-top: 8px;">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          CV
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <a style="color: #0e76a8;" href="../assets/GiadaGabriele.pdf" download>Download CV here</a>
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion class="center" style="margin-top: 8px;">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Where you can find me
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="center">
        <a href="https://github.com/giadagabriele"><i id="changeIcon" style="font-size: xx-large; color: #6e5494;"
            class="fa fa-github"></i></a>
        <a href="https://www.linkedin.com/in/giada-gabriele"><i
            style="font-size: xx-large; color: #0e76a8; margin-left: 10px; margin-right: 10px;"
            class="fa fa-linkedin-square"></i></a>
        <a href="mailto:giadagabriele@protonmail.com"><i id="changeIcon" style="font-size: xx-large; color: coral"
            class="fa fa-envelope"></i></a>
      </p>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <i class="fas fa-chevron-up" ></i>
    </button>
  </div>

</body>

</html>